<h3>Hii <%= @user.email.gsub(/@.*/, '').capitalize %>!</h3>
<p>I'm guessing it's not every day that you signup at a new store. That's why I want to make sure everything is in place for you to feel welcome and at home.</p>
<p>I hope you have already found something to order from us. To help you make your decision, here is Rs. 250 off coupon <strong><%= Coupon.new_250_off.code %></strong> ;). If you haven't, what are you waiting for? <strong><a href="https://www.qreoh.com/shop" target="_blank">SHOP NOW!</a></strong></p>
<p>One last thing; the whole team is always around, almost 24x7, to reply to your emails. In fact, you can just hit reply to this email or any others you receive from us. Whether you need help, have ideas or just want to say "Hii", we'll get back to you within a few hours.</p>
<p>We are also available on <a href="https://www.facebook.com/qreoh" target="_blank" style="font-weight:700;">facebook</a> and <a href="https://twitter.com/qreoh/" target="_blank" style="font-weight:700;">twitter</a>.</p>
<p>Best,</p>
<p>Troy and the QREOH Happiness Gang</p>
<p><a href="https://twitter.com/troysk704" target="_blank" style="font-weight:700;">@troysk704</a> | <a href="https://twitter.com/qreoh" target="_blank" style="font-weight:700;">@qreoh</a></p>