<h3>Hii,</h3>
<p><strong><a href="<%= designer_url(@project.designer) %>"><%= @project.designer.name %></a></strong> uploaded a new project.</p>
<p>It goes by the name <strong><a href="<%= designer_project_url(@project.designer, @project) %>"><%= @project.title %></a></strong>. Might be the next best seller! ;)</p>
<p>Best,</p>
<p>Skynet.</p>