<h3>Hi <%= @designer.name %>,</h3>

<p>Thanks for registering with us. We are happy you're considering showcasing your work on QREOH.</p>
<p>To start selling, upload your products now! Click on the <strong><a href="<%= new_designer_project_url(@designer) %>">Upload Product</a></strong> button on your <a href="<%= designer_url(@designer) %>">profile page</a>.</p>
<p>You may also send us a selection of the products you wish to showcase on QREOH as well as their pricing, to have them bulk uploaded. Please send your lookbook(s) to <a href="mailto:hello@qreoh.com?subject=Lookbook for <%= @designer.name %>">hello@qreoh.com</a>.</p>
<p>Looking forward to hearing back from you.</p>
<p>Regards,</p>
<p>Cece</p>
Cecile 'Cece' Baltazart<br>
Co-founder | Chief-of-Design, QREOH<br>