<h3>Hi <%= @designer.name %>,</h3>
<p>Thanks for sharing your lookbook with us. We like your work and would be glad to showcase it on the <strong><a href="http://www.qreoh.com" target="_blank">QREOH</a></strong> platform as well as during the QREOH events.</p>
<p>Please find the super important details about QREOH below. Let us know if you have any concerns or questions, we are here to help.</p>
<strong>THE PLATFORM</strong><br>
<ul>
  <li><p>QREOH takes a 10% commission for each successful sale. This includes our payment gateway cost, the packaging and the shipping of the orders from our New Delhi office to the final customer.</p></li>
  <li>You'll have to ship your product(s) to our New Delhi office. Please consider that while calculating your product's price.</li>
</ul>
<p>If all this looks okay (and exciting) to you and you want to showcase your products on QREOH; please start uploading your projects on QREOH from your <a href="<%= designer_url(@designer) %>">profile</a>.</p>
<p>Looking forward to hearing back from you and in case you think we can help you in anything, we are just an email away! [Well almost anything, we still don't know to to get cheap tickets to Goa].</p>
<p>Have a great day ahead.</p>
<p>Best,</p>
<p>Cece</p>
Cecile "Cece" Baltazart<br>
Co-Founder | Chief-of-Design, QREOH<br>