<h3>Hi <%= @designer.name %>,</h3>
<p>We would be happy to showcase your work on QREOH right away, unfortunately we have previously committed to many designers to present their projects on the platform. We will get in touch as soon as we can accommodate you. Until then, please do keep us posted on your new collections and lookbooks, so we can stay updated with your work. I wanted to personally let you know of this delay so that you can look into alterate platforms/solutions. Sorry about this.</p>
<p>Thanks for your understanding and if there is anything you think we can help with, we are just an email away.</p>
<p>Best,</p>
<p>Cece</p>
Cecile "Cece" Baltazart<br>
Co-Founder | Chief-of-Design, QREOH<br>