<% @designers.each do |designer| %>
  <div class="row">
    <div class="span2"><%= designer.name %></div>
    <div class="span8">
      <%= simple_form_for(designer, :html => {:class => 'form-horizontal'}) do |f| %>
        <%= f.input :current_collection, :label => false %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
<% end %>