<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-thumbnail text-center">
  <%= render "projects/project_content", project: project %>
  <% if current_user && project.unpublished? && project.can_edit?(current_user) %>
    <a href="<%= edit_designer_project_url(project.designer, project) %>" class="btn btn-primary btn-xs">Edit</a>
  <% end %>
</div>