<div class="container container-top">
  <h1 class="text-lg">Careers</h1>
  <p>We are always looking to work with people who make us better. We have a commitment to create a product which people love use and which helps them making their lives better. If you would like to be a part of the journey, do drop us an eMail to <strong>careers at qreoh.com</strong>.</p>
</div>
<% content_for :javascript_tracking do %>
if(typeof mixpanel !== 'undefined'){
  mixpanel.track("Viewed Careers Page");
}
<% end %>