<div class="container container-top">
  <h1 class="text-lg">Have A Question?</h1>
  <p>Chances are, you’ll find the answer in QREOH FAQ below. If not, please do <a href="/contact-us">Contact Us</a>.</p>
  <h3 class="bg-primary padding-10">QREOH Frequently Asked Questions</h3>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>YOU'RE A VISITOR</h1>
      <p>QREOH is a platform for thoughtfully selected limited edition products. QREOH reaches out to design-savvy patrons looking for contemporary products from upcoming designers, at affordable prices, while ensuring the highest quality of production.</p>
      <div class="panel-group" id="patron-faq">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#patron-faq" href="#patron-faq-1">
                What is QREOH?
              </a>
            </h4>
          </div>
          <div id="patron-faq-1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>QREOH is an online platform which two primary objectives.</p>
              <p>1. Help designers set up their own brands and sell their products, with minimum investment and risk.</p>
              <p>2. Offer discerning patrons a range of carefully crafted products with contemporary design at their core.</p>
              <p>A designer might have a interesting product, but not necessarily the means to sell their work, or the network to showcase their work.</p>
              <p>To address these hurdles, QREOH provides a platform where designers can both access a targeted audience and also get orders for their unique limited edition projects.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#patron-faq" href="#patron-faq-2">
                How does it work?
              </a>
            </h4>
          </div>
          <div id="patron-faq-2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>QREOH is a maketplace for indepedent designers. The designer list their project and specify a price, as well as the number of pieces they have at the announced price. QREOH then reviews and publishes the project on its platform.</p>
              <p>Simultaneously, to attract the right audience, QREOH gives the buyer a reliable, user friendly and familiar e-commerce experience, and curates and reviews each project to ensure that the end customer gets delivered a great product.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#patron-faq" href="#patron-faq-3">
                How do I order an item I like?
              </a>
            </h4>
          </div>
          <div id="patron-faq-3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Go to the product page, click on the <strong>BUY NOW</strong> button, fill the details and you are done.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h1>YOU'RE A DESIGNER</h1>
      <p>QREOH is aiming at young designers and students interested in starting their own brand, or have already started their label but want more visibility.</p>
      <p>QREOH offers you a platform to bring your ideas to life by providing multiple tools to designers to monetise their products.</p>
      <div class="panel-group" id="designer-faq">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-1">
                Why should I participate?
              </a>
            </h4>
          </div>
          <div id="designer-faq-1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>You have the opportunity to test the waters without much investment other than your time and get orders for your limited edition designs. You also have access to a network of designers and potential buyers who can give you feedback and appreciation. QREOH also offers visibility to sell your product in a very receptive and targeted environment, associating your brand with quality, credibility and good design.</p>
              <p>It is free to submit a design. We maintain our system by taking a commission of 10% for every successful sale.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-2">
                Am I eligible to create a project?
              </a>
            </h4>
          </div>
          <div id="designer-faq-2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>To create a project you have to be located in India, be 18 and have a prototype of the design(s) you want to showcase. And that's about it. We will soon start accepting projects from elsewhere too.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-3">
                How do I participate?
              </a>
            </h4>
          </div>
          <div id="designer-faq-3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>You have to make a prototype of your design (or designs).</p>
              <p>Needless to say, your design has to be your own creation and not use any copyrighted material, other than yours. It has to have the quality of concept, cut and material that you want to set as a benchmark for yourself, for your brand. It has to be a product that preferably you have not showcased on other commercial platform, as we would want a unique design, and not enter in conflict with other platforms selling policies. Once you have a prototype, you can submit your project.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-4">
                How do I submit a project?
              </a>
            </h4>
          </div>
          <div id="designer-faq-4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>You will need to first create a label page for yourself (you can do this by clicking on "Create". If you don't already have a label page associated with your account you will be taken through the step to create one). You will need for that:</p>
              <p>- Your label picture</p>
              <p>- A brief bio</p>
              <br>
              <p>After doing so, you will need to provide the following information in order to submit each project:</p>
              <p>- A title for your project and a 140 character description of it.</p>
              <p>- Pictures of your prototype (no 3D, no drawings). These are just for us to review your project. We will handle the photo shoot once your project has been approve.</p>
              <p>- A brief write up about your project.</p>
              <p>- The costing for one piece of your product (your price + 10% of your price, as QREOH fee (it includes the packing and shipping charges for the Indian buyer and the photoshoot).</p>
              <p>- Your inventory in case of an One of a Kind product or an estimate of the minimum number of orders to make the product viable at the said cost.</p>
              <p>- A size table with dimensions for different sizes of your product, if it comes in different sizes. We can provide you a standard table for this but you will have to customize it if you product has a special fit.</p>
              <p>- Material details and any other information you would want to share.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-5">
                Can I run more than one project at once?
              </a>
            </h4>
          </div>
          <div id="designer-faq-5" class="panel-collapse collapse">
            <div class="panel-body">
              <p>A maximum of 10 products can be submitted at one go, for a specified duration of time (most likely 1 month).</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-6">
                What does QREOH stands for?
              </a>
            </h4>
          </div>
          <div id="designer-faq-6" class="panel-collapse collapse">
            <div class="panel-body">
              <p>- contemporary design</p>
              <p>- quality</p>
              <p>- craft</p>
              <p>- detailing</p>
              <p>- perfectionism, refinement</p>
              <p>- uniqueness</p>
              <p>- originality, concept</p>
              <p>- affordability</p>
              <p>- small series, exclusivity</p>
              <p>- flexibility</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-7">
                What happens once my project is launched?
              </a>
            </h4>
          </div>
          <div id="designer-faq-7" class="panel-collapse collapse">
            <div class="panel-body">
              <p>We will spread the word to attract traffic to QREOH. You could also share your work with your family, your friends and your colleagues.</p>
              <p>We generate visibility but your network would maximize this, and to increase your chances of a successful QREOH campaign the more people you reach out to, the more chances of attracting pre-orders for your project.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#designer-faq" href="#designer-faq-8">
                What happens once someone places an order?
              </a>
            </h4>
          </div>
          <div id="designer-faq-8" class="panel-collapse collapse">
            <div class="panel-body">
              <p>The total amount of the funds for the orders will be transferred to your account and you will start production. Here you must remember to optimize your production time so that it sits well within the estimated delivery time, and ensure the quality matches what you displayed on the project page. Once the production is done we will get the products picked up from your studio and dispatched to the customers who ordered them.</p>
              <p>If you encounter any problem, need any help or have any question, just <a href="/contact-us">contact us</a>, we'll do our best to help you out.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>QREOH stands for quality products and unique designs. It aims at connecting patrons and designers by providing a user-friendly platform to showcase designs and browse through exclusive products. QREOH reviews projects prior to showcasing but does not guarantee the completion of projects nor does it investigate a designer's ability to complete their project. It is the responsibility of the designer to complete their project as promised, and their claims on their project are theirs alone.</p>
    </div>
  </div>
</div>
<% content_for :javascript_tracking do %>
if(typeof mixpanel !== 'undefined'){
  mixpanel.track("Viewed FAQ Page");
}
<% end %>