<style>
  .icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] { font-size: 2em; }
</style>
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="main-block text-justify">
      <div class="row-fluid">
        <div class="project-form">
          <h1></h1><p>Designers</p>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span3 text-center">
          <p class="heading">Example Clothing</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/wearexample" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.exampleclothing.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Beehive</p>
        </div>
        <div class="span3 text-center">
          <p class="heading">JOLI</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/joli.proudlymadeinindia" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.joliindia.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">J O Y</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/JoyClothingStyleDesign" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row-fluid">
        <div class="span3 text-center">
          <p class="heading">Lacquer Embassy</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/lacquerembassy" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.lacquerembassy.com" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Snakes &amp; Butterflies</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/snakesandbutterflies" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">431-88</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/431eighteight" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.431-88.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Vraj Bhoomi</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/VrajBhoomiindia" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.vrajbhoomiindia.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row-fluid">
        <div class="span3 text-center">
          <p class="heading">Ally</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/alyenfoninggoa" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://almostfallenangel.blogspot.in/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Airphish</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/airphish" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.airphish.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Doodlage</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/doodlage" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.doodlage.in/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
        <div class="span3 text-center">
          <p class="heading">Silknots</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="https://www.facebook.com/silknots" target="_blank"><i class="icon-facebook-sign icon-light"></i></a></span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row-fluid">
        <div class="project-form">
          <h1></h1><p>Photographers</p>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span4 text-center">
          <p class="heading">Sami Siva</p>
        </div>
        <div class="span4 text-center">
          <p class="heading">Srinivas</p>
        </div>
        <div class="span4 text-center">
          <p class="heading">Charles Tirkey</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="project-form">
          <h1></h1><p>Music</p>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span12 text-center">
          <p class="heading">Anne Hepburn Smith</p>
          <div>
            <span class="icon-stack"><i class="icon-circle icon-stack-base"></i><a href="http://www.annehepburnsmith.com/" target="_blank"><i class="icon-share-sign icon-light"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
<script type="text/javascript">
  if(typeof mixpanel !== 'undefined'){
    mixpanel.track("Viewed Festival Page");
  }
</script>
<% end %>