<div class="container container-top">
  <h1 class="text-lg">How to participate</h1>
  <p>QREOH is a platform to discover indepedent designers and their designs. The designers can list their "One of a Kind" products on QREOH and get orders for them. The platform works on the basis of design submissions, and under certain conditions. The main conditions are listed below. QREOH reserves the right to review and give a final approval on a project before launching it. QREOH reserves the right to ask for modifications in a project submission or refuse a project.</p>
  <h1 class="bg-primary padding-10">What you need to know to get started</h1>
  <h2>QREOH IS ONLY SHOWCASING DESIGNERS BASED IN INDIA FOR NOW</h2>
  <p>So if you are, that's great. You will need to have <strong>a bank account</strong> in place and <strong>a valid email id</strong>.</p>
  <p>If you’re not located India, we are working hard to help you showcase on-board our platform. We plan to accept international projects in the near future, and we will keep you updated. You can subscribe to our newsletter to be informed when QREOH opens up for international designers.</p>
  <h2>QREOH ONLY ACCEPTS PROJECTS WITH A FINALIZED DESIGN</h2>
  <p>QREOH patrons place orders for products that are ready to be despatched. So we don't accept sketches and 3D renderings as design submissions, only photos of the final product. <strong>We recommened using high quality photographs for your products. Its preferred that all the images are of the same size and squarish.</strong></p>
  <h2>QREOH WANTS TO SHOWCASE YOUR WORK, NOT SOMEONE ELSE'S</h2>
  <p>The design you submit has to be your own, so no copyrighted material if you don’t own the rights, and no items sourced from a vendor. QREOH aims at providing unique designs and quality products to its patrons, who look for originality and understand the need for production time.</p>
  <h1 class="bg-primary padding-10">What you need to know to have a successful sale</h1>
  <h2>TELL PEOPLE ABOUT YOUR PROJECT</h2>
  <p>Whether it is when you're filling the details of the product or sharing about it once it is launched, communicate. Although QREOH is building its own network and audience, you increase your chances of a successful sale if you tell your friends and family about your work. You can also contact us if you wish to be featured on the blog.</p>
  <h2>Update Frequently</h2>
  <p>Make sure to get the most accurate estimation possible of your production and delivery time from the people who will produce or manufacture your products, and if possible get a sample to ensure the quality you expect. This will avoid any misunderstanding and guarantee the satisfaction of your future patrons.</p>
  <h2>commit to your deadline and delivery</h2>
  <p>QREOH is an e-commerce marketplace. It doesn't sell products directly but it helps designers connect with potential customers. The designer is responsible for delivering the product expected by the patrons who ordered it, or for issuing a refund. That being said, QREOH does quality checks on every product and promises to deliver the best experience.</p>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <a href="/create/go" class="btn btn-primary btn-block">Go to upload page</a>
    </div>
  </div>
</div>
<% content_for :javascript_tracking do %>
if(typeof mixpanel !== 'undefined'){
  mixpanel.track("Viewed Create/Read Page");
}
<% end %>