<div class="container container-top">
  <h1 class="text-lg">Shipping &amp; Delivery Policy</h1>
  <ul>
    <li>For International buyers, orders are shipped and delivered through registered international courier companies and/or International speed post only. International shipping has a flat shipping charge of $25.</li>
    <li>For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only. All domestic shipments are free.</li>
    <li>Orders are shipped within 10 working days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company / post office norms.</li>
    <li>QREOH is not liable for any delay in delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 15 working days from the date of the order and payment or as per the delivery date agreed at the time of order confirmation.</li>
    <li>Delivery of all orders will be to registered address of the buyer as per the credit/debit card only at all times(Unless specified at the time of Order).</li>
    <li>We accept all major credit cards and netbanking option from selected banks is also available for users in India.</li>
    <li>International users can pay via PayPal.</li>
  </ul>
</div>
<% content_for :javascript_tracking do %>
if(typeof mixpanel !== 'undefined'){
  mixpanel.track("Viewed Shipping Page");
}
<% end %>