<h1>Hey <%= @order.user.name.titleize %>!</h1>
<p>We are aware that your order may be taking longer than expected to reach you. Please be reassured that we are doing everything we can to get your goods to you as soon as possible.</p>
<p>As a demonstration of our apologies, we've generated you a personal discount code that will give you Rs. 250 off your next order which includes everything on our site, with our compliments. The code is SORRY250 and is personal for you to use on your next order. 
</p>
<p>If you have any question we're just an email away. Hit reply or <strong><a href="http://www.qreoh.com/contact-us">click here</a></strong>.</p>
<br>
Thanks!<br>
QREOH Happiness Gang <br>
<a href="https://twitter.com/qreoh" target="_blank">@qreoh</a> <br>
+91 7503455305
