<h1>Hii <%= @values[:name].titleize %>,</h1>
<p>Your order is now on its way to you. It'll be with you soon, but if you want to keep an eye on it you can <a href="<%= @values[:tracking_url] %>" target="_blank">click here</a> and use the code <strong><%= @values[:tracking_code] %></strong> to follow its journey. <%= @values[:courier] %> is being used for this delivery but we are trying to get Santa Claus soon.</p>
<p>In the meantime, <a href="http://www.qreoh.com">click here</a> to see what's new on site. Go on. We won't tell.</p>
Thanks.<br>
QREOH Happiness Gang<br>
<a href="https://twitter.com/qreoh" target="_blank">@qreoh</a> <br>
+91 7503455305
