<h3>Hii <%= @resource.email.gsub(/@.*/, '').capitalize %>!</h3>
<p>So, you [or your alter ego] wanted to change your password on <a href="http://www.qreoh.com" target="_blank" title="QREOH">QREOH</a>. Click on the link and set a new password. Make sure you set one which you remember this time. ;)</p>
<p><%= link_to('Change my password', edit_password_url(@resource, reset_password_token: @token), {:style => 'background:#000;color: #fff;text-decoration:none;padding:10px;'}) %></p>
<p>If you didn't request it, worry not! Your password is safe and secure with us and you can keep using it. Stay safe, the interwebs has imposters.</p>
<p>Best,</p>
<p>QREOH Happiness Gang.</p>